Description: streamingserver
Maintainer: dream-alpha
Package: enigma2-plugin-systemplugins-streamingserver
Version: 0.18.1
Architecture: all
Depends: enigma2-plugin-systemplugins-ubuntucockpit
Conflicts: enigma2-plugin-ubuntu-streamingserver
Replaces: enigma2-plugin-ubuntu-streamingserver
